airflow/config
airflow/dags/.env
airflow/dags/__pycache__
airflow/logs
airflow/scripts/.env
airflow/scripts/poetry.lock
airflow/.env

aws/

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/*.pem
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

poetry.lock